* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body,
html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    user-select: none;
}

body {
    background-color: white;
}

#menu {
    position: fixed;
    width: 500px;
    height: 500px;
    box-sizing: border-box;
}

#container {
    position: fixed;
    width: 500px;
    height: 500px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    z-index: 0;
    overflow: hidden;
}

#logo {
    width: 100%;
    height: 60%;
    background-image: url(./snake-01.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
}

#buttons-menu {
    width: 100%;
    height: 36%;
    background-color: #8ead2d !important;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

#start {
    width: 40%;
    height: 30%;
    color: black;
    font-size: 26px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #75970f;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    outline: none;
}

#start:active,
#start:focus {
    outline: none;
}

#instructions {
    width: 40%;
    height: 30%;
    color: black;
    font-size: 26px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #75970f;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

#instructions:active,
#instructions:focus {
    outline: none;
}

#footer-menu {
    width: 100%;
    height: 4%;
    background-color: #90b521;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

#footer-menu h1 {
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: black;
    font-weight: 300;
    margin: 0;
    cursor: default;
}

#footer-menu h1 a {
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}


#pontuation {
    font-size: 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 10px 0 0;
    padding: 0;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    color: white;
    z-index: 100;
}

#gameover {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    width: 500px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 10;
}

#gameover-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

#gameover-text h3 {
    font-size: 48px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    text-align: center;
    margin: 0 0 20px 0;
}

#final-points-lose,
#final-points-win {
    font-size: 26px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    text-align: center;
}

#gameover-buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

#restart {
    width: 40%;
    height: 55px;
    color: black;
    font-size: 26px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #75970f;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0 0 20px 0;
}

#restart:active,
#restart:focus {
    outline: none;
}

#return-menu {
    width: 40%;
    height: 55px;
    color: black;
    font-size: 26px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #75970f;
    border: none;
    cursor: pointer;
    padding: 0;
}

#return-menu:active,
#return-menu:focus {
    outline: none;
}

#win {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    width: 500px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 10;
}

#win-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

#win-text h3 {
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    text-align: center;
    margin: 0 0 40px 0;
}

#instructions-board {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    width: 500px;
    height: 500px;
    background-color: #8ead2d;
    z-index: 10;
}

#instructions-header {
    width: 100%;
    height: fit-content;
    text-align: center;
}

#instructions-header h1 {
    color: #bfef27;
    font-size: 26px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

#instructions-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#instructions-text h1 {
    color: #445511;
    margin: 0 0 7px 0;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#instructions-back-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#instructions-back-button button {
    width: 40%;
    height: 55px;
    color: black;
    font-size: 26px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #75970f;
    border: none;
    cursor: pointer;
    padding: 0;
}

#instructions-back-button button:active,
#instructions-back-button button:focus {
    outline: none;
}